* {
  padding: 0;
  margin: 0;

}

html {
  height: 100%;
} 

.show-art {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  align-items: center;
}

.show-aside {
  display: flex;
  column-gap: 4vh;
  border:1px solid lightgray;
  width: 80%;
}

.show-fig{
  width: 40vh;
}

.showimg{
  width: 40vh;
  height: 35vh;
  border:1px solid red;
}

.showcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1vh;
  width: 100%;
  height: 40vh;
}

.showtime {
  color: gray;
  font-size: 18px;
}


.showp{
  width: 80%;
  line-height: 1.5;
}

.showbutton {
  font-weight: 400;
  border:0px none transparent;
  background-color: white;
}

.showbutton:hover{
  font-weight: 600;
  color: #4EA1A5;
  transition: .3s;
  cursor: pointer;
}